* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
}

.wrapper.active {
  grid-template-columns: 1fr 1fr;
}

img {
  width: 100%;
  height: 100%;
}

img.logo {
  width: 200px;
  height: auto;
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: 2;
}

.press {
  position: absolute;
  left: 750px;
  top: 405px;
  z-index: 2;
  text-align: center;
}

.press h1 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;
  font-size: 25px;
}
button {
  width: 200px;
  padding: 20px;
  background-color: #28508d;
  border: 2px solid #28508d;
  color: white;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: bold;
  margin-top: 20px;
}

legend {
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  color: #28508d;
  font-size: 25px;
}

fieldset.active {
  display: block;
  border-radius: 15px;
  padding: 20px;
  margin: 5px;
  border: 2px solid #28508d;
}

fieldset {
  display: none;
}

label {
  display: block;
  font-family: "Open Sans", sans-serif;
  color: #28508d;
}

input {
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  border: 1px solid #5d87e1;
  border-radius: 5px;
  color: #28508d;
  outline: none;
}

input[type="submit"] {
  width: 200px;
  padding: 20px;
  background-color: #28508d;
  border: 2px solid #28508d;
  border-radius: 15px;
  color: white;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: bold;
  margin-top: 20px;
}

input[type="submit"]:hover {
  position: relative;
  top: 1px;
  left: 1px;
}

.invalid {
  border: 1px solid red;
}

fieldset.active.show-right {
  display: block;
  animation: show-right 0.9s forwards;
}

@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@media (max-width: 800px) {
  .wrapper.active {
    grid-template-columns: 1fr;
  }
  .banner {
    display: none;
  }
  fieldset {
    display: block;
    border-radius: 15px;
    padding: 20px;
    margin: 5px;
    border: 2px solid #28508d;
  }
}

@media (max-width: 1024px) {
  .press {
    left: 27%;
  }
}
